<!DOCTYPE html>
<html lang="en">
  <head>
    <title>bossBurger Login Page</title>
    <%- include('./partials/header.ejs') %>
  </head>
  <body>
    <main class="main">
      <!-- Header -->
      <%- include('./partials/nav.ejs') %>
      <!-- End Header -->
      <div class="login-page">I'm Login Page</div>

      <% for (let value of data) { %>

      <div style="color: #333"><%= value%></div>

      <% } %>
      <!-- Footer -->
      <%- include('./partials/footer.ejs') %>
      <!-- End Footer -->
    </main>
    <!-- Vanilla Javascript -->
    <script src="../static/js/main.js"></script>
    <!-- Animation On Scroll Vanilla Javascript -->
    <script src="../static/js/aos.js"></script>
  </body>
</html>
