<header>
  <div class="wrapper">
    <div class="nav">
      <div class="branding">
        <a href="#!">
          <img
            src="../static/assets/images/home-logo.png"
            alt="bossBurger Logo"
          />
        </a>
      </div>

      <nav class="navbar">
        <ul class="navbar-nav hide-nav">
          <li class="navbar-nav-list">
            <a href="#goto-Hero">Home</a>
          </li>
          <li class="navbar-nav-list">
            <a href="#goto-Products">Products</a>
          </li>
          <li class="navbar-nav-list">
            <a href="#goto-Contact">Contacts</a>
          </li>
          <li class="navbar-nav-list">
            <a href=""
              ><img src="../static/assets/images/home-cart-icon.png" alt=""
            /></a>
          </li>
          <li class="navbar-nav-list">
            <a href=""
              ><img src="../static/assets/images/home-admin-icon.png" alt=""
            /></a>
          </li>
        </ul>
      </nav>

      <div class="burger-menu" id="icon-toggler">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
      </div>
    </div>
  </div>
</header>
